# Terraform variable files
**/terraform.tfvars
**/*.auto.tfvars

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform state
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform variables
*.tfvars
*.tfvars.json

# OCI
.oci/